.homelink{
    transition: transform .2s;
    height: 30vh;
}

/* I learned how to use vh when I asked for help in class */

.homelink:hover{
    transform: scale(1.1);    
}

body{
    margin: 0;
    height: 100vh;
    background-color: #f9f3f1;
}

#topl{
    margin-left: 10vh;
    margin-top: 1vh;
}

#topr{
    margin-left: 96.144vh;
    margin-top: 1vh;
    width: 23.8554vh;
}

#bottoml{
    margin-top: 37vh;
    margin-left: 10vh;
}

#bottomr{
    margin-top: 37vh;
    margin-left: 94.144vh;
}

a.ch{
    color: #9593ce;
    background-color: #f9f3f1;
    font-weight: bolder;
    font-size: 3vh;
    text-decoration: none;
}

a.ch:hover{
    color: #f9f3f1;
    background-color: #9593ce;
}

h1{
    text-align: center;
    font-weight: 10000;
    padding-top: 10vh;
}

.head{
    height: 25vh;
    background-image: linear-gradient(#6365b1, #f9f3f1);
    color: white;
    font-size: 1.8vh;
    border-style: double;
    border-bottom-width: 0.5vh;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
}

.para{
    padding-left: 5vh;
    font-family: Arial, Helvetica, sans-serif;
}

table{
    border: 1px solid #f9f3f1;
    margin-left: auto;
    margin-right: auto;
}

tr, th{
    padding-left: 20vh;
    padding-right: 20vh;
}

th{
    font-size: 3vh;
    text-transform: capitalize;
}

td{
    font-size: 2vh;
}

.pageimg{
    width: 100vh;
    height: 2vh;
}

#abedimg{
    width: 70vh;
    padding-right: 5vh;
    padding-left: 5vh;
}

#jeffimg{
    height: 40vh;
    padding-right: 15vh;
    padding-left: 10vh;
}

#brittaimg{
    width: 65vh;
    padding-right: 5vh;
    padding-left: 5vh;
}

#blanketsimg{
    width: 65vh;
    padding-left: 5vh;
    padding-right: 5vh;
}

#blanketsimg:hover{
    display: none;
}

.pillowsimg:hover{
    background-image: url(pillows.jpg);
    width: 65vh;
    padding-right: 5vh;
    padding-left: 5vh;
    background-repeat: no-repeat;
}

/* I got the idea to make this work from stackoverflow at https://stackoverflow.com/questions/4815831/how-to-make-img-disappear-on-hover */